# Basic
#cffi
pandas
itables
jupyter 
scipy 
matplotlib 

# External data
#googlesearch-python
#wikipedia

# Machine Learning
#torch
#torchaudio
#transformers
#datasets
#deepspeed
#accelerate

# Other
JSAnimation
ipywidgets
datefinder

# Image
#opencv-python
#scikit-image

# Data connections
psycopg2-binary
pyyaml==6.0.1
minio==7.2.3
sqlalchemy

#pyvis


# Visualization
matplotlib
mpld3
pyvis

# ML
numpy
pandas
torch
transformers
bitsandbytes==0.41.1
sentence_transformers

# NLP
#mpld3
nltk
spacy
#gensim
pymupdf
pdfminer-six
pyLDAvis
ghostscript
